body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

nav{
	height: 70px;
	width: 100%
}
.sidenav-trigger{
	color: #444
}
.brand-logo{
	font-weight: 800;
	font-family: 'Audiowide', cursive;

}
.header{
	font-weight: 700
}

h5{
	font-weight: 600
}
#about, #education, #portfolio, #experience{
	min-height: 80vh
}
.social:hover{
	background-color: teal;
}

.skills, .education{
	max-width: 100%;
	width: 100%;
	margin: 0;
	color: #fafafa;
}

.img{
	height: auto;
	width: 20%!important;
	margin: 1%;
	border-radius: 0!important;
	padding: 1%;
	/*	transition: width 6s!important;*/
}

#education .card-title{
	font-size: 20px
}
#portfolio .card-content{
	font-size: 20px;
	z-index: 1;
	background-color: #fff;
}
.card .card-content{
	line-height: 1.5rem;
	padding: 15px
}

#portfolio .card.small .card-image img{
	width: 100%;
	height: 100%;
}
footer {
	flex: 1 0 auto;
}
nav ul a,
nav .brand-logo {
	color: #444!important;
}

p {
	line-height: 2rem;
}

.button-collapse {
	color: #26a69a;
}

.parallax-container {
	min-height: 500px;
	line-height: 0;
	height: auto;
	color: rgba(255,255,255,.9);
}
.parallax-container .section {
	width: 100%;
}

@media only screen and (max-width : 992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}
	#index-banner .section {
		top: 10%;
	}
}

@media only screen and (max-width : 600px) {
	#index-banner .section {
		top: 0;
	}
}

.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
}